body{
  font-family: 'Zen Loop', cursive;
  font-style:normal;
  font-variant:normal;
  line-height:1.5;
  margin-bottom:60px;
  } 

  .logo{
    max-width:100%;
    height:auto;
  }
  
  .card{
    margin-bottom:25px;
  }
  
  html{
    position:relative;
    min-height:100%;
  }

  .footer{
    position:absolute;
    color: white;
    bottom:0;
    width:100%;
    height:60px;
    background:black;
    text-align:center;
  }

  .display-1,.lead{
    text-align:center;
  }

  img{
    max-width:100%;
    height:auto;
  }