/*------------Universal Selector------------*/

html {
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }

.cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }


.container{
    /*978px*/
    width:70vw;
    margin:30px auto;
    border:3px solid pink;
}

header.primary{
    /*918px*/
    background:rgba(0,0,0,.3);
    width:93.865%;
    margin:3.067%;
    float:left;
    padding:3.267%;
}

#content{
    background:rgba(0,0,0,.3);
    float:left;
    /*602px*/
    width:61.554%;
    margin-left:3.067%;
    padding:3.267%;
}

aside{
    /*286px*/
    width:29.243%;
    float:left;
    background:rgba(0,0,0,.3);
    margin-left:3.067%;
    padding:3.267%;
}

footer.primary{
    background:rgba(0,0,0,.3);
    width:93.865%;
    margin:3.067%;
    float:left;
    padding:3.267%;
}

@media screen and (max-width:950px){
  .col{
    float:none;
    width:100%;
    margin: 30px auto;
  }
  
  .col:nth-child(odd){
    background:indianred	;
  }
}

@media screen and (min-width:700px){
  .col {
    width:35%;
    margin:4%;
  }
}

/*Tablet*/

@media screen and (min-width:768px){
  .col{
    float:left;
    width:50;
    margin: 0 auto;
  }
  .container{
    max-width:1024px;
  }
}

/*Desktop*/

@media screen and (min-width:1200px){
  .col{
    width:25%;
  }
  .container{
    max-width:1600px;
  }
}