/*------------Universal Selector------------*/

html {
	box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
	box-sizing: inherit;
  }

.cf {
    zoom: 1;
  }
  .cf:before,
  .cf:after {
    content: "";
    display: table;
  }
  .cf:after {
    clear: both;
  }


.container{
    /*978px*/
    width:70vw;
    margin:30px auto;
    border:3px solid pink;
}

header.primary{
    /*918px*/
    background:rgba(0,0,0,.3);
    width:93.865%;
    margin:3.067%;
    float:left;
    padding:3.267%;
}

#content{
    background:rgba(0,0,0,.3);
    float:left;
    /*602px*/
    width:61.554%;
    margin-left:3.067%;
    padding:3.267%;
}

aside{
    /*286px*/
    width:29.243%;
    float:left;
    background:rgba(0,0,0,.3);
    margin-left:3.067%;
    padding:3.267%;
}

footer.primary{
    background:rgba(0,0,0,.3);
    width:93.865%;
    margin:3.067%;
    float:left;
    padding:3.267%;
}